/* =========================
   Corpo, testi e link
   ========================= */

body {
  background-color: #f5f2e7; /*colore di sfondo beige chiaro*/
  color: #212529; /*colore del testo scuro, quasi nero*/
  font-family: 'Segoe UI', sans-serif; /*font moderno e leggibile*/
  margin: 0;
  padding: 0; /*spazio interno*/
}

h1, h2, h3, h4 {
  color: #2c3e50; /*colore è blu scuro*/ 
}

a {
  color: #8b0000; /*colore è bordeaux*/
  text-decoration: underline;
}

a:hover {
  color: #5a0000; /*colore è rosso più scuro*/
}

a:visited,
a:active {
  color: #000000; /*colore è nero*/
}


/* =========================
   Navbar e footer
   ========================= */

.navbar, footer {
  background-color: #e0e0e0 !important; /*colore è grigio scuro*/
}

.navbar .nav-link {
  color: #212529; /*colore è grigio scuro leggibile*/
}

.navbar .nav-link.active {
  font-weight: bold;
}

.navbar .nav-link:hover {
  color: #8b0000; /*colore è rosso scuro*/
}


/* =========================
   Bottoni
   ========================= */

.btn-outline-secondary {
  border-color: #8b0000; /*colore sempre rosso scuro*/
  color: #8b0000;
}

.btn-outline-secondary:hover {
  background-color: #8b0000;
  color: white;
}

.btn-custom {
  border-color: #8b0000;
  color: #8b0000;
}

.btn-custom:hover {
  background-color: #8b0000;
  color: #fff;
}


/* =========================
   Slider
   ========================= */

#hero-slider {
  position: relative;
  width: 100%;
  height: 70vh; /*Altezza visibile*/
  overflow: hidden; /*nascoste le parti fuori dallo slider*/
}

#hero-slider .slide {
  position: absolute; /*si sovrappongono le slide*/
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: contain; /*Mostra tutta l'immagine*/
  background-repeat: no-repeat;
  background-position: center center;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

#hero-slider .slide.active {
  opacity: 1;
  z-index: 1;
}


/* =========================
   Mappa Leaflet
   ========================= */

#map {
  height: 500px;
  width: 100%;
  margin-top: 2rem;
}

.legend {
  background: white;
  padding: 10px;
  line-height: 1.5;
  font-size: 14px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0,0,0,0.2);
}


/* =========================
   Card
   ========================= */

.card {
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  margin-bottom: 2rem;
}

.card img {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}


/* =========================
   Sidebar e altri elementi
   ========================= */

.sidebar {
  background: #e0e0e0;
  padding: 1rem;
  border-radius: 10px;
  margin-bottom: 2rem;
}

/* Limita la dimensione delle immagini */
img {
  max-width: 100%;
  height: auto;
  display: block;
}


